body {
    background-color: #38b6ff;
}

.main-background {
    display: grid;
    grid-template-rows: repeat(30, 26px); 
    grid-template-columns: repeat(60, 25px);
}

.main-background img {
    z-index: 0;
    grid-column: 1/61;
    grid-row: 1/31;
}

.home-link {
    z-index: 1;
    grid-column: 1/23;
    grid-row: 10/22;
}

.hen1-link {
    z-index: 2;
    grid-column: 18/22;
    grid-row: 20/25;
}
.dog-link {
    z-index: 1;
    grid-column: 9/17;
    grid-row: 26/30;
}

.hen2-link {
    z-index: 2;
    grid-column: 7/11;
    grid-row: 21/26;
}

.duck1-link {
    z-index: 1;
    grid-column: 23/26;
    grid-row: 23/27;
}

.duck2-link {
    z-index: 1;
    grid-column: 29/32;
    grid-row: 21/25;
}

.cat1-link {
    z-index: 1;
    grid-column: 4/6;
    grid-row: 23/26;
}

.cat2-link {
    z-index: 1;
    grid-column: 27/29;
    grid-row: 18/22;
}

.hen3-link {
    z-index: 1;
    grid-column: 33/36;
    grid-row: 25/30;
}

.sheep-link {
    z-index: 2;
    grid-column: 38/46;
    grid-row: 22/29;
}

.cow-link {
    z-index: 1;
    grid-column: 44/54;
    grid-row: 17/23;
}

.cat3-link {
    z-index: 2;
    grid-column: 49/51;
    grid-row: 16/18;
}

.moon-link, .sun-link {
    z-index: 1;
    grid-column: 41/50;
    grid-row: 2/11;
}