
body {
    background-color: #38b6ff;
}

.main-background {
    display: grid;
    grid-template-rows: repeat(5, 150px); 
    grid-template-columns: repeat(7, 200px);
}

.main-background img {
    z-index: 0;
}

.house-link {
    z-index: 1;
    grid-column: 2;
    grid-row: 4;
}

.sun-link, .moon-link {
    z-index: 1;
    grid-column: 6;
    grid-row: 2;
}
